*.layout
bin/
obj/
out/
test/
convert_camera_params/
test_sap/
test_sync/
*-build/
*.autosave
*.out
*.gch
*.cbp
*.depend
*.workspace
*.jpg
*.yml
*.avi
*.bin
*.bak
*.o
*.d
points
*.config
*.creator
*.creator.user
*.files
*.includes
*.user
